:root {
  --border-radius: 4px;
  --color-text: #333;
  --color-primary: #8e6237;
  --color-code-bg: #f9edd0;
  --color-code: #8e6237;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-xl: 23px;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}

html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: Karla, sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: Karla, sans-serif;
  font-weight: normal;
  font-size: var(--font-lg);
  margin: 0;
  word-wrap: break-word;
  min-height: 81vh;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: rgb(232, 232, 227,.4)
}
main {
  flex-grow: 1;
  min-height: 81vh;

}
a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
  font-family: Karla, sans-serif;
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
}

code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
  max-width: 680px;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}
.wrapper {
  min-height: 100%;
  height: 100%;
  margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}

#holder {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  
}

#left {
  flex: 1;
}

#middle {
  flex: 2;
  min-width: 600px;
  overflow-x: auto;
  opacity: 0; /* Initially hidden */
  animation: fadeIn 1.5s ease-in 0.8s forwards; /* Delay to start after the wave */
}

#right {
  flex: 1;
  text-align: right;
  
}

#content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#right img {
  width: 50%; 
  width: 50%;
  border-radius: 50%; 
  object-fit: cover; /* Ensures the image covers the whole circular area */
  animation: bounce 2s infinite ease-in-out;
  transition: transform 0.4s ease-in-out;
  box-sizing: border-box;
  margin-left: 2rem;
  border: 2px solid #c59b6a;
  width: 300px;
  height: 300px;
  max-width: 300px;
  max-height: 300px;

  opacity: 0; /* Initially hidden */
  animation: imageFadeIn 1.5s ease-in-out 1.5s forwards; /* Fade in after 2 seconds (after content fades in) */
  transition: transform 0.3s ease-in-out; /* Prepare for hover effects */
}




#right img:hover {
  transform: scale(1.1);
}




/* Full-screen black cover */
#black-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 9999; /* Ensure it's on top of everything */
  animation: waveReveal 1.5s ease forwards; /* Quicker 1s animation */
}

/* Keyframes for a more circular wave-like reveal effect */
@keyframes waveReveal {
  0% {
    transform: translateY(0); /* Start fully covering the screen */
    visibility: visible;
  }
  50% {
    transform: translateY(50%); /* Move halfway upward */
    border-radius: 50% 50% 0 0; /* More circular wave effect */
    visibility: visible;
  }
  100% {
    transform: translateY(100%); /* Completely move off the screen */
    border-radius: 0; /* Reset to no border radius */
    visibility: hidden;
  }
}


/* Keyframes for the fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0; /* Fully transparent */
  }
  100% {
    opacity: 1; /* Fully visible */
  }
}


#mobile-title-img {
  display: none;
}



@media (max-width: 768px) {
  
  #middle {
    min-width: 100%; 
    overflow-x: hidden; 
  }
  #right {
     display: none;
    }

#title-wrapper{
  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  width: 100%;
}

#mobile-title-img {
  display: block;
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out; /* Prepare for hover effects */
  border-radius: 50%; 
  object-fit: cover; /* Ensures the image covers the whole circular area */
  transition: transform 0.4s ease-in-out;
  box-sizing: border-box;
  margin-left: 1rem;
  border: 2px solid #c59b6a;
}

  }

  /* Animation */


@keyframes imageAnimation {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes imageFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes imageAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1); /* Example: scaling up */
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
}
